//Variables

/* Are placeholders for sharing information that you want to reuse throughout your stylesheet.
you can store things like colours, font-stacks or any css value you can think of.
Variables can declared using '$' */

//Colors
$tittle-color: #fff;
$tittle-shadow: #DC143C;
$nav-color: rgb(234, 18, 59);
$nav-hover: #333;
$nav-ul-text-color: rgb(234, 18, 59);
$background: rgb(169, 212, 226);

//Fonts
$text-font: custom-font;
