
body {
  background: $background;
  color: $tittle-color;
  max-width:640px;
  font-family: $text-font;
  font-size: 14px;
  line-height:1.4;
  font-smoothing: anti-aliased;
}

.icon a{
  color: white;
  font-size: 2em;
}

.icon nav{
  @include nav($nav-color, #fff, $nav-hover)
}

.nav ul li{
  @include nav-li($nav-ul-text-color)
}

h1 {
  margin:80px 0 10px 0;
  font-size: 52px;
  font-family: $text-font;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #DC143C,
  2px 2px 0px #DC143C,
  3px 3px 0px #DC143C,
  4px 4px 0px #DC143C;
}

h2 {
  font-size: 24px;
}

nav ul li > div {
  display: inline-block;
  padding: 25px 0;
  background: transparent;
}

nav ul li div { position: relative; }

